[workspace]
resolver = "2"

members = [
    "datafusion-federation",
    "sources/sql",
    "test",
]

[workspace.package]
version = "0.1.6"
edition = "2021"
license = "Apache-2.0"
readme = "README.md"


[workspace.dependencies]
async-trait = "0.1.77"
async-stream = "0.3.5"
futures = "0.3.30"
datafusion = "46"
datafusion-substrait = "46"
arrow-json = "54"

[patch.crates-io]
datafusion-federation = { path = "./datafusion-federation" }
duckdb = { git = "https://github.com/spiceai/duckdb-rs.git", rev = "2e24b958e44ec7419290249e27a15f1a19703fff" }

[patch."https://github.com/spiceai/datafusion-federation.git"]
datafusion-federation-sql = { path = "./sources/sql" }